.a4-card {
    // width: 1980mm; 
    padding: 0px;
    // border: 1px solid #000;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 19px;
    // color:red !important;
    // font-display: red;
    background-color: #fff;
    
  }

  .td{
    color: black;
  }


  // .preview{
  //   // table{
  //   //     border: 1px;
  //   // }
  //   // margin-left:25px;
  //   width: 980mm; /* A4 width */
  //   height: 927mm; /* A4 height */
  //   // margin: 0 auto; /* Center the card horizontally */
  //   // margin: 55px;
  //   padding: 20px;
  //   // border: 1px solid #000;
  //   // box-sizing: border-box;
  //   font-family: Arial, sans-serif;
  //   font-size: 10px;
  //   background-color: #fff;
  // }